* {
    box-sizing: border-box;
}

html {
    font-family: montserrat;
}

body {
    margin: 0;
    background-color: #ededed;
}

button {
    outline: none;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: #fe876c;
    font-size: 60px;
    font-weight: 900;
    margin: 15px 0;
    font-family: eurof;
}

h3 {
    color: #424242;
    margin-top: 10px;
}

input, button, textarea, select {
    outline: none;
}

.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

textarea {
    font-size: inherit;
    font-family: inherit;
    resize: none;
}

button {
    background-color: #36a097;
    padding: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 15px;
}

input {
    outline: none;
    border-radius: 5px;
    padding: 7px;
    width: 200px;
    border: 1px solid #b0b0b0;
}

h2 {
    font-size: 20px;
    color: #1d9389;
    font-size: 23px;
    margin-right: 0;
}