
.app-header {
    padding: 0 25px;
    background-color: #fff;
    border-bottom: 3px solid #cbd0d0;
}

.app-header nav > * {
    color: black;
    margin-left: 40px;
    font-size: 20px;
}

.app-header .router-link-active {
    color: #fe876c;
    font-weight: bold;
}

.app-header nav > *:hover {
    color: #fe876c;
}