
.book-filter {
    background-color: #cbd0d0;
    height: 50px;
    margin-bottom: 15px;
    height: 70px;
    padding: 0 10px;
}

.book-filter h2 {
    display: inline;
    margin: 0;
    margin-right: 30px;
    font-size: 20px;
    color: #1d9389;
}

.book-filter form {
    margin-top: 3px;
}

.book-filter input {
    outline: none;
    border-radius: 5px;
    padding: 7px;
    margin-right: 5px;
    width: 120px;
    border: none;
}

.book-filter button {
    background-color: #36a097;
    padding: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 15px;
}

.book-filter .number-input {
    width: 70px;
}

@media (max-width: 660px) {
    .book-filter {
        flex-direction: column;
        height: 130px;
        justify-content: space-around;
    }
    .book-filter .filter-form {
        flex-wrap: wrap;
        height: 80px;
    }

    .book-filter h2 {
        margin: 0;
    }
}

@media (max-width: 345px) {
    .book-filter {
        height: 155px;
    }

    .book-filter .filter-form {
        height: 115px;
    }
}