.book-details .book-details {
    padding: 10px 50px;
    margin-bottom: 18px;
}

.book-details ul {
    padding: 0;
}

.book-details .reviews {
    width: 90%;
    margin-top: 15px;
}

.book-details .reviews .name {
    color: #35877c;
    margin: 10px;
}

.book-details .reviews .txt {
    width: 100%;
}

.book-details .reviews .txt span {
    color: #696969;
}

.book-details li {
    color: #35877c;
    border: 1px solid #d0d0d0;
    margin-bottom: 10px;
    position: relative;
}

.book-details .remove-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 20px;
    outline: none;
}

.book-details .info {
    margin-left: 30px;
    width: 450px;
}

.book-details .reviews .info {
    margin-left: 30px;
    width: 160px;
}

.book-details h3 {
    color: #1c847b;
    font-size: 25px;
    margin: 10px 0;
}

.book-details h4, .book-details p {
    color: #424242;
}

.book-details span {
    font-weight: normal;
    margin-left: 10px;
    color: black;
    font-size: 16px;
}

.book-details img {
    margin: 50px 40px 0 0;
    height: 300px;
    border-radius: 10px;
    align-self: flex-start;
}

.book-details p {
    font-weight: bold;
    margin: 10px 0;
}

.book-details .reading-lvl {
    color: #35877c;
}

.book-details .book-condition {
    color: #616161;
    font-weight: normal;
}

.book-details .close-btn {
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    color: #35877c;
    cursor: pointer;
    outline: none;
}

.book-details p.red {
    color: red;
}

.book-details p.green {
    color: green;
}

.book-details span.sale {
    color: #1c847b;
    font-size: 1.3em;
}

.book-details .navigate {
    width: 100%;
    padding: 15px 25px 0;
    color: #35877c;
    font-weight: bold;
}