.email{
    padding: 20px;
    border-top: 1px solid #EA3939;
    display: flex;
    transition: 0.3s;
}
.email:last-child{
    border-bottom: 1px solid #EA3939;
}

.email-content {
    margin-left: 70px;
}

.prev-txt{
    font-size: 0.8rem;
    font-weight: normal;
}

.email:hover {
    cursor: pointer;
    color: #EA3939;
    box-shadow: 4px 0px 20px -12px rgba(79,79,79,1);    
}
