.compose-header{
    color:  #EA3939;
}

.email-send {
    margin-left: 20px;
    width: 100vw;
}

.email-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-evenly;
    height: 84%;
}

.email-form input {
    width: 100%
}

.email-form textarea {
    border-radius: 5px;
}

.email-form button {
    margin: 0;
    background-color: #EA3939;
}

.email-txt {
    height: 350px;
}

.back-arrow {
    color: #ea3939;
    margin-top: 14px;
    font-size: 23px;
}

@media (max-width: 800px) {
    .email-send {
        margin: 60px auto;
        width: 70%;
    }
    .email-form {
        width: 100%;
        margin-bottom: 20px;
    }
    .email-txt {
        height: 300px;
    }
}