.email-filter{
    padding: 10px;
    margin: 10px;
}

.sort-by {
    padding: 5px;
    border-radius: 5px;
}

.search-by {
    background-color: white;
    border: 1px solid #d6d6d6;
    width: 200px;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 5px auto;
    position: fixed;
    z-index: 200;
    top: 16px;
    left: 220px;
}

.search-by input {
    border: none;
    width: 162px;
}

.search-by i {
    color: gray;
    padding: 0 2px;
}

.filter-btns{
    margin-right: 20px;
}

.filter-btns button {
    background-color: #EA3939;
    width: 75px;
}

@media (max-width: 800px) {
    .search-by{
        /* margin: 0; */
    }
}


@media (max-width: 820px) {
    .search-by {
        position: absolute;
        top: 95px;
        left: 50%;
        border: 1px solid #EA3939;
        z-index: 0;
        margin-left: -100PX;
    }
    .email-filter {
        margin-top: 60px;
    }
    .filter-btns button {
        width: 62px;
    }
}