.email{
    padding: 10px;
    border-top: 1px solid #EA3939;
    transition: 0.3s;
    align-items: baseline;
}
.email:last-child{
    border-bottom: 1px solid #EA3939;
}

.read {
    background-color: #f0f0f0;
    font-weight: bold;
}

.email-content {
    margin-left: 70px;
}

.prev-txt{
    font-size: 0.8rem;
    font-weight: normal;
}

.email:hover {
    cursor: pointer;
    color: #EA3939;
    box-shadow: 4px 0px 20px -12px rgba(79,79,79,1);    
}

.star{
    font-size: 1.2rem;
    margin-right: 10px;
    transition: 0.3s;
}

.star:hover{
    transform: scale(1.13);
}

.gold{
    color:gold
}

.email-date{
    position: absolute;
    right: 15px;
}

.more-info{
    padding-top: 15px;
}

.mark-as-btn{
    position: relative;
    left: 15px;
    margin: 0;
}

.read-btns {
    padding-right: 25px;
    padding-top: 2px;
}