.note-add {
    margin: 15px auto;
    height: 50px;
    background-color: white;
    border: 1px solid silver;
    padding: 10px;
    border-radius: 7px;
    max-width: 600px;
}

.note-add input {
    border: none;
    font-size: 18px;
    margin-left: 7px;
    width: 260px;
}

.note-add button {
    background-color: transparent;
    color: gray;
    margin: 0;
    font-size: 18px;
    padding: 5px;
}

.note-add button.selected, .note-add button:hover {
    color: black
}

@media (max-width: 645px) {
    .note-add {
        margin: 15px 15px;
    }
}

@media (max-width: 460px) {
    .note-add {
        flex-direction: column;
        height: 85px;
    }
    .note-add input {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 5px;
    }
}


