.note-add {
    margin: 15px auto;
    width: 550px;
    height: 45px;
    background-color: white;
    border: 1px solid silver;
    padding: 10px;
    border-radius: 7px;
}

.note-add input {
    border: none;
    font-size: 18px;
    margin-left: 7px;
}

.note-add button {
    background-color: transparent;
    color: gray;
    margin-left: 5px;
}