.note-list {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(270px,1fr));
    margin: 0 15px 15px;
}

.note-list .note-preview {
    border: 1px solid #d7d7d7;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    min-height: 150px;
    transition: box-shadow .3s;
    position: relative;
}

.note-list .note-preview section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.note-list .note-preview section i {
    color: #565656ab;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.note-list .note-preview.selected, .note-list .note-preview:hover {
    box-shadow: 0px 0px 5px 1px rgba(185, 185, 185, 0.5);
}

.note-list .note-img {
    max-height: 180px;
    max-width: 265px;
    margin-bottom: 20px;
}

.note-list .note-preview p {
    margin: 0 0 20px;
}

.note-list .note-preview .marked {
    text-decoration: line-through;
}

.note-list .note-preview .todo-checkbox {
    position: fixed;
    top: 1000px;
    left: 1000px;
}

.note-list .note-preview .todo-note div{
    border-bottom: 1px solid #9a9a9a6b;
    padding: 7px 0;
    width: 100%;
}

.note-list .opts button{
    background-color: transparent;
    color: gray;
    margin-left: 0;
    font-size: 20px;
}

.note-list .opts button.selected, .note-list .opts button:hover{
    color: black;
}

.note-list .note-preview label {
    padding: 5px 0;
}

.note-list .color-btns-line {
    background-color: #bababa;
    width: 200px;
    text-align: center;
    margin: 0 auto 10px;
    border-radius: 15px;
}

.note-list .opts .color-btn {
    font-size: 25px;
    margin: 0 5px;
    padding: 0;
    background-color: transparent;
}

.note-list .vid-note {
    margin-bottom: 20px;
}

.note-list .vid-note .iframe {
    border: none;
}

.note-list .note-pin-img {
    position: absolute;
    height: 40px;
    top: -10px;
    left: -10px;
}

.note-list .opts textarea {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 46px);
    width: 100%;
    color: #5d5d5d;
    padding: 15px;
}

@media(max-width: 595px) {
    .note-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .note-list .note-preview {
        margin: 10px auto;
        width: 350px;
    }
}

@media(max-width: 400px) {
    .note-list .note-preview {
        width: 300px;
        margin: 10px;
    }
}