.note-search {
    background-color: white;
    border: 1px solid #d6d6d6;
    width: 200px;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 5px auto;
    position: fixed;
    z-index: 200;
    top: 16px;
    left: 220px;
}

.note-search input {
    border: none;
    width: 162px;
}

.note-search i {
    color: gray;
    padding: 0 2px;
}

@media (max-width: 860px) {
    .note-search {
        left: 150px;
    }
}

@media (max-width: 750px) {
    .note-search {
        left: 50%;
        width: 180px;
        margin-left: -50px;
    }

    .note-search input {
        border: none;
        width: 140px;
    }
}

@media (max-width: 400px) {
    .note-search {
        position: inherit;
        margin: 10px auto;
        z-index: 200;
        top: 2px;
    }
}



