
.user-msg {
    padding: 5px;
    position: fixed;
    top: 75px;
    right: 10px;
    z-index: 100;
    width: 370px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
}

.user-msg button {
    float: right;
    background-color: transparent;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.user-msg.success {
    background-color: #36a065e8;
}
.user-msg.error {
    background-color: #a0364af7;
}