.welcome-page img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.welcome-page h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -265px;
    color: #f6f6f6;
    width: 490px;
    height: 90px;
    margin-bottom: 0;
    font-size: 80px;
}